<nav class="mb-6">
  <ul class="flex flex-wrap gap-4 text-sm font-semibold">
    <li><a href="{{site.baseurl}}/donate/" class="hover:underline">Donate Home</a></li>
    <li><a href="{{site.baseurl}}/donate/create" class="hover:underline">Create Donation</a></li>
    <li><a href="{{site.baseurl}}/donate/match" class="hover:underline">Find Food</a></li>
    <li><a href="{{site.baseurl}}/donate/leaderboard" class="hover:underline">Leaderboard</a></li>
    <li><a href="{{site.baseurl}}/donate/manage" class="hover:underline">Manage</a></li>
    <li><a href="{{site.baseurl}}/donate/history" class="hover:underline">My Donations</a></li>
    <li><a href="{{site.baseurl}}/donate/scan" class="hover:underline">Scan</a></li>
  </ul>
</nav>
